/* CONFIGURAÇÃO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_padrao);
    font-size: 1rem;
}

:root {
    --font_padrao: 'Poppins';
}
main {
    width: 100vw;
    height: 100vh;
}

.sidemenu {
    width: 20%;
    height: 100%;

    border-right: 1px solid lightgray;

    background-color: gray;
}

.logo {
    width: 100%;
    height: 10%;

    font-size: 2rem;
    font-weight: bold;

    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidemenu-item > a {
    width: 100%;

    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.sidemenu-item > a:hover {
    padding: 5px;

    color: black;
    background-color: white;

    border-bottom: 3px solid deepskyblue;
}

.item-icon {
    margin-left: 30%;
}

.item {
    list-style: none;

    padding: 10px;
}